body {
  margin: 0;
  background: #F4F6F8;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.app-style {
  font-size: 3rem;
}

//
// .app-style
//   font-size: 3rem
// }
