
.navbar {
  &-container {
    float: left;
    width: 100%;
    &--padded {
      padding: 2rem 1.5rem 5rem 1.5rem;
    }
  }

  &-logo {
    float: left;
    width: 100%;
  }

  &-hamburger {
    float: right;
    margin-top: 5px;
  }

}
