.subscription {
  &-box {
    float: left;
    padding: 0 1.5rem;
    &-container {
      float: left;
      width: 100%;
      height:auto;
      background-color: #F3F3F3;
      padding: 1.5rem 0 2.5rem 0;
    }

    &-text {
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 100;
      font-size: 18px;
      margin-bottom: 1rem;
    }
  }
}
