.hamburger {
  &-container {
    float: left;
    // padding: 1rem;
    width: 30px;
    height: auto;
    a {
      float: left;
      width: 100%;
      height: 100%;
    }
  }

  &-vertical-bar {
    margin: 2.5px;
    float: left;
    width: 25px;
    height: 5px;
    background-color: #DC7474;

  }

}
